<div class="justify-content-center d-flex dropdown mr-auto ml-auto">
  <a class="btn dropdown-toggle custom-color" href="#" role="button" id="dropdownMenuLink" name="dropdownMenuLink"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 6px 20px 6px 20px; font-size:0.9rem;  margin-bottom: 3%; border: 1px solid #d31d46;; border-radius: 100px">
    Pick Form
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" onclick="changeForm1()" href="#" name="" value="form1">Medifast</a>
    <a class="dropdown-item" onclick="changeForm2()" href="#" name="" value="form2">Pathlab</a>
    <a class="dropdown-item" onclick="changeForm3()" href="#" name="" value="form3">Macau</a>
  </div>
</div>