  <meta charset="utf-8">
  <title> AIA Medical Picture</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/images/favicon.ico" />
  <link rel="stylesheet" href="../static/css/lib/font/font.css">
  <link rel="stylesheet" href="../static/css/lib/font/font-awesome.min.css" />
  <link rel="stylesheet" href="../static/css/lib/bootstrap/bootstrap-4.1.1.min.css" id="bootstrap-css">



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../static/js/lib/jquery/jquery-1.12.4.js"></script>
  <script src="../static/js/lib/jquery/jquery-3.4.1.min.js"></script>
  <script src="../static/js/lib/popper/popper-1.14.7.min.js"></script>
  <script src="../static/js/lib/bootstrap/bootstrap-4.3.1.min.js"></script>
  <script src="../static/js/lib/bootstrap/bootstrap.js"></script>

  <script type="text/javascript" src="../static/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../static/css/upload_file.css">
  <link rel="stylesheet" type="text/css" href="../static/css/header.css">